.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    column-gap: 1em;
  }

.navbar li {
    border: 2px solid var(--text-color);
    padding: 0.25em;
    border-radius: 5px;
}

.navbar li:hover {
    opacity: 0.5;
}

.navbar a {
    text-decoration: inherit;
    color: inherit;
}

.active {
    font-weight: bold;
}