:root {
  --background: hsl(190, 80%, 60%);
  --text-color: hsl(190, 94%, 20%);
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

